In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('jnmarket.csv')

In [3]:
df.head()

         date name origin  price specification
0  2024-05-23   樱桃  辽宁/山东  50.00            胶框
1  2024-05-23   杨梅  福建/云南  17.78            胶框
2  2024-05-23    李  云南/广东  10.67            纸箱
3  2024-05-23   枇杷  云南/福建  18.33           泡沫箱
4  2024-05-23   芒果     海南   6.50             筐